# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [9]:
tup = tuple(range(1,11))
print("Tuple:", tup)

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [16]:
print("Tuple:", tup)
print("1st Element:",tup[0])
print("Middle Element:",len(tup)//2)
print("Last Element:",tup[-1])

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
1st Element: 1
Middle Element: 5
Last Element: 10


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [19]:
print("Tuple:", tup)
print("First 3 Elem:" ,tup[:3])
print("Elem from 2 to 5 index:" ,tup[2:5])
print("Last 3 Elem:" ,tup[-3:])

Tuple: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
First 3 Elem: (1, 2, 3)
Elem from 2 to 5 index: (3, 4, 5)
Last 3 Elem: (8, 9, 10)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [27]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print("Matrix:")
for row in matrix:
    print(row)
print(f"Element at second row and third column: {matrix[1][2]}")

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at second row and third column: 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [29]:
tup1 = (1,2,3)
tup2 = (4,5,6)

tup3 = tup1 + tup2
print(tup3)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [30]:
tup = (1,2,3,1,2,1,2,3,4,5,6,2,3,4,2,3,4,5,2)
print(f"The occurance:{tup.count(4)}")
print(f"Index: {tup.index(2)}")

The occurance:3
Index: 1


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [34]:
tup1 = (1,2,3,4,5,)
print(f"Tuple: {tup1}")
a,b,c,d,e = tup1
print(a,b,c,d,e)

Tuple: (1, 2, 3, 4, 5)
1 2 3 4 5


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [37]:
lst = [x for x in range(10)]
lst = tuple(lst)
print(lst)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [41]:
tup4 = (tup1 , tup2 , tup3)

print(tup4)

((1, 2, 3, 4, 5), (4, 5, 6), (1, 2, 3, 4, 5, 6))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [54]:
tup5 = (1,2,3,4,5,6)
print(f"Tuple: {tup5}")
lst = list(tup5)
print(f"Tuple to List: {lst}")

tup5 = tuple(lst)
print(f"list to tuple: {tup5}")

Tuple: (1, 2, 3, 4, 5, 6)
Tuple to List: [1, 2, 3, 4, 5, 6]
list to tuple: (1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [60]:
str = "hello world"
tup6 = tuple(str)
joined_str = "  ".join(tup6)
print(joined_str)

h  e  l  l  o     w  o  r  l  d


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [61]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}

print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [63]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [64]:
tpl = (1, 2, 2, 3, 4, 4, 4, 5)
unique = set(tpl)
print(unique)

{1, 2, 3, 4, 5}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [65]:
def min_val(tpl):
    return min(tpl)

def max_val(tpl):
    return max(tpl)

def sum_val(tpl):
    return sum(tpl)

sample_tpl = (1,2,3,4,5,6,7,8,9,10)
print(f"Minimun number in tuple : {min_val(sample_tpl)}")
print(f"Maximun number in tuple : {max_val(sample_tpl)}")
print(f"Sum of number in tuple : {sum_val(sample_tpl)}")

Minimun number in tuple : 1
Maximun number in tuple : 10
Sum of number in tuple : 55